{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>MaduraiNeeds</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- css -->
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'simple-line-icons/css/simple-line-icons.css'%}">
<link href="{% static 'css/fancybox/jquery.fancybox.css'%}" rel="stylesheet"> 
<link href="{% static 'css/flexslider.css" rel="stylesheet'%}" />
<link href="{% static 'js/owl-carousel/owl.carousel.css'%}" rel="stylesheet">
<link href="{% static 'css/style.css'%}" rel="stylesheet" />
<link href="{% static 'css/navbar.css'%}" rel="stylesheet" />



</head>
<body>

<div id="wrapper" class="home-page">
	<nav>
		<input id="nav-toggle" type="checkbox">
		<div class="logo">MADURAI<strong>NEEDS</strong></div>
		<ul class="links">
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'about' %}">About Us</a></li>
			<li><a href="{% url 'register' %}">Login/Sign up</a></li>
		</ul>
		<label for="nav-toggle" class="icon-burger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</label>
	</nav>
    <div class="bg-img"></div>
    <style>
        .bg-img{
            background: url("{% static 'img/slides/1.jpg'%}");
            height: 100vh;
            background-size: cover;
            background-position: center;
            filter: blur(8px);
            -webkit-filter: blur(8px);
          }
    </style>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<script src="js/jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script> 
<script src="js/portfolio/jquery.quicksand.js"></script>
<script src="js/portfolio/setting.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>
<script src="js/navbar.js"></script>

</body>
</html>
	